{{> components/header/header}}
{{#app}}
    <div class="app__body">
        <div class="app__ball__wrapper">
            <div class="app__ball"></div>
        </div>
        <div class="app__button__wrapper">
            <button class="app__button app__button--change-color">Click to change color</button>
            <button  class="app__button app__button--animation animation-left">Click to animate left</button>
            <button  class="app__button app__button--size">Click to double size</button>
            <button  class="app__button app__button--reset">Click to reset</button>
        </div>
    </div>
{{/app}}
