{{#header}}
    <header class="header__wrapper">
        <div class="header__title_wrapper">
            <h1 class="header__title">{{title}}</h1>
            <p class="header__subtitle">{{subtitle}}</p>
        </div>
    </header>
{{/header}}
